<h1><%= @task.title %></h1>
<ul>
  <li><%= @task.details %></li>
  <% if @task.completed == true %>
  <li><%= @task.completed %> This task is completed</li>
  <% else %>
  <li><%= @task.completed %> This task is not completed yet</li>
  <% end %>
</ul>

<%= link_to "Update a task", edit_path(@task) %>



<%= link_to "Back to list", tasks_path %>

